/* __________ STYLE FOR ALL PAGES __________ */
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Remove default margin, pagging and borders */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Set font across pages */
body {
    font-family: 'Roboto', sans-serif;
}

/*Style h1 - the game title */
h1 {
    text-align: center;
    color: #462255;
    font-family: 'Kirang Haerang', cursive;
    font-size: 50px;
    background-color: rgb(147, 225, 216);
}

/* Set background colour in case images don't load */
html {
    background-color: #93e1d8;
}

/* __________ STYLE FOR LANDING PAGE __________ */

/* Style h2 */
h2 {
    text-align: center;
    font-size: .7rem;
    color: #aa4465;
}

/* Set up my home page buttons */
#menu-container {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}

/* Style those buttonws */
.h-btn {
    width: 50vw;
    height: 20vh;
    border: 2px solid #aa4465;
    margin: 5% auto;
    background-color: #aa4465;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #80314a;
    color: #ffa69e;
    font-size: 2rem;
}

/* Style link to match buttons */
.h-btn a {
    color: #ffa69e;
    font-size: 2rem;
    text-decoration: none;
}

/* Change the colour of the buttons when hovered over */
.h-btn:hover {
    border: 2px solid #462255;
    background-color: #462255;
    box-shadow: 5px 5px 5px 5px #2d1636;
}

/* Score box on landing page */
#last-scores {
    display: block;
    margin: 0 auto;
    border: 1px groove #d18781;
    box-shadow: 2px 2px 2px 2px #d18781;
    width: 85vw;
    background-color: #ffa69e;
    text-align: justify;
    border-radius: 5px;
    color: #aa4465;
}

/* Modals learned from https://www.w3schools.com/howto/howto_css_modals.asp */
/* Set up the modal and background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(221, 255, 247, .3); 
    overflow: scroll;
}
  
/* The actual modal box */
.modal-content {
  background-color: #ffa69e;
  margin: 30% auto; 
  padding: 20px;
  border: 1px solid #c07f79;
  width: 70%; 
  color: #462255;
}
  
/* The Close Button */
#close {
  color: #aa4465;
  font-size: 30px;
  float: right;
}

/* __________ STYLE FOR GAME PAGE __________ */

/* The background of the page */
#game-bg {
    height: 100vh;
    background-image: url('../images/zoo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* The main text box on the page */
#text-box {
    margin: 5vh auto 2vh auto;
    background-color: rgb(147, 225, 216);
    border-radius: 10px;
    width: 80vw;
    height: 35vh;
    padding: 2.5vh 2.5vw;
    box-shadow: 5px 3px 5px 5px rgba(37, 37, 36, 0.4);
    color: #aa4465;
}

/* Set my option buttons in one column */
#buttons-container {
    display: flex;
    flex-direction: column;
}

/* style the buttons */
.btn {
    border: 1px solid rgb(170, 68, 101);
    width: 85vw;
    margin: 2% auto;
    font-size: 1rem;
    border-radius: 3px;
    padding: 1%;
    background-color: rgb(170, 68, 101);
    color: rgb(147, 225, 216);
}

/* Style the score box */
#scores {
    display: block;
    position: fixed;
    bottom: 0%;
    margin: 0 auto;
    border-radius: 5px;
    width: 100vw;
    background-color: rgb(147, 225, 216);
    color: #462255;
    padding-top: 2%;
}

/* Space out the scores */
.count {
    margin-left: 15%;
}

/* The button to clear scores */
#clear {
    display: block;
    margin: 0 auto;
    background-color: rgba(70, 34, 85, 0);
    color: #462255;
}

#clear:hover {
    color: #aa4465;
    font-weight: bolder;
}

/* The 'x' button to close the game */
#exit {
    float: right;
    font-size: 30px;
}

#exit a {
    text-decoration: none;
}

#exit a:hover {
    color: white;
}



