/* Style for all pages */
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #462255;
    font-family: 'Kirang Haerang', cursive;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: .7rem;
    color: #aa4465;
}

html {
    background-color: #93e1d8;
}

/* Style for landing page */

#menu-container {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}

.h-btn {
    width: 50vw;
    height: 20vh;
    border: 2px solid #aa4465;
    margin: 5% auto;
    background-color: #aa4465;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #80314a;
}

.h-btn:hover {
    border: 2px solid #462255;
    background-color: #462255;
    box-shadow: 5px 5px 5px 5px #2d1636;
}

button, button a {
    color: #ffa69e;
    font-size: 2rem;
    text-decoration: none;
}

#last-scores {
    display: block;
    margin: 0 auto;
    border: 1px groove #d18781;
    box-shadow: 2px 2px 2px 2px #d18781;
    width: 85vw;
    background-color: #ffa69e;
    text-align: justify;
    border-radius: 5px;
    color: #aa4465;
}

/* Modals learned from https://www.w3schools.com/howto/howto_css_modals.asp */
/* Set up the modal and background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(221, 255, 247, .3); 
    overflow: scroll;
  }
  
  /* The actual modal box */
  .modal-content {
    background-color: #ffa69e;
    margin: 30% auto; 
    padding: 20px;
    border: 1px solid #c07f79;
    width: 70%; 
    color: #462255;
    
  }
  
  /* The Close Button */
  #close {
    color: #aa4465;
    font-size: 30px;
    float: right;
  }

/* Style for game page */

#game-bg {
    height: 100vh;
    background-image: url('../images/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#text-box {
    margin: 5vh auto;
    border: 2px solid black;
    background-color: rgb(222, 184, 135, .4);
    width: 85vw;
    height: 50vh;
}

#buttons-container {
    display: flex;
    flex-direction: column;
}

.btn {
    border: 1px solid black;
    width: 50vw;
    margin: 3% auto;
}

#scores {
    margin: 0 6.25vw;
    border: 1px solid black;
    width: 85vw;
    position: absolute;
    bottom: 2%;
}

.count {
    margin-left: 15%;
}

#clear {
    display: block;
    margin: 0 auto;
    border: 1px dashed blue;
}

